.dotted {
    border-top-style: dotted;
    border-right-style: dashed;
    border-bottom-style: solid;
    border-left-style: double;
    border-color: blue;
    border-width: 5px;
}
.dashed {
    border-style: dashed;
    border-color: red;
}
.solid {
    border-style: solid;
    border-width: 5px 2px 10px 8px;
}
.double {
    border-style: double;
}
.groove {
    border: 5px groove green;
}
.ridge {
    border-style: ridge;
    border-radius: 10px;
}
.inset {
    border-style: inset;
}
.outset {
    border-style: outset;
}

.none {
    border-style: none;
}

.hidden {
    border-style: hidden;
}
.mix {
    border-style: dotted dashed solid double;
}