/* =========================
   DISPLAY PROPERTY NOTES
   ใช้กำหนดรูปแบบการแสดงผลของ element
   ========================= */


/* -------------------------
   INLINE
   - อยู่บรรทัดเดียวกัน
   - กว้างตามเนื้อหา
   - กำหนด width/height ไม่ได้
-------------------------- */
p{
    display: inline;
    outline: 1px solid blue;
}



/* -------------------------
   BLOCK
   - ขึ้นบรรทัดใหม่เสมอ
   - กินพื้นที่เต็มแถว
   - กำหนด width/height ได้
-------------------------- */
span{
    display: block;
    outline: 1px solid red;
}



/* -------------------------
   INLINE-BLOCK
   - อยู่บรรทัดเดียวกัน
   - แต่กำหนดขนาดได้
-------------------------- */
/*
span{
    display: inline-block;
    width: 100px;
    height: 50px;
}
*/



/* -------------------------
   NONE
   - ซ่อน element ไปเลย
   - ไม่กินพื้นที่
-------------------------- */
/*
div{
    display: none;
}
*/



/* -------------------------
   VISIBILITY HIDDEN
   - ซ่อน element
   - แต่ยังคงพื้นที่ไว้
-------------------------- */
div{
    width: 100px;
    height: 100px;
    background-color: red;

    visibility: hidden; /* ซ่อนแต่ยังคงพื้นที่ไว้ */
}



/* -------------------------
   FLEX
   - ใช้จัด layout แนวนอน/แนวตั้งง่ายมาก
-------------------------- */
/*
.container{
    display: flex;
}
*/



/* -------------------------
   GRID
   - ใช้จัด layout แบบตาราง
-------------------------- */
/*
.container{
    display: grid;
}
*/
