div {
    width: 50%;
    height: 150px;
    background-color: lightblue;
    padding: 20px;
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding: 20px 30px 40px 50px; */

    border: 10px solid black;
    margin: 50px;

    /* margin: 20px 30px 40px 50px; */
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
}